<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name>MSH</name>
  <service>
    <name>MSH Smart Home Web App</name>
    <type>_http._tcp</type>
    <port>8083</port>
    <txt-record>description=MSH Smart Home Blazor Application</txt-record>
    <txt-record>version=1.0</txt-record>
  </service>
</service-group> 