@page
@model MSH.Web.Areas.Identity.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <button type="submit" class="btn btn-danger">Log out</button>
</form> 