@namespace MSH.Web.Shared

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MSH</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="devices">
                <span class="oi oi-bullet-list" aria-hidden="true"></span> Devices
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="network-settings">
                <span class="oi oi-wifi" aria-hidden="true"></span> Network Settings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="network-test">
                <span class="oi oi-wrench" aria-hidden="true"></span> Network Test
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="environmental-monitor">
                <span class="oi oi-graph" aria-hidden="true"></span> Environmental Monitor
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rooms">
                <span class="oi oi-layers" aria-hidden="true"></span> Rooms
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
