@namespace MSH.Web.Shared

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MSH</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="devices">
                <span class="oi oi-bullet-list" aria-hidden="true"></span> Devices
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="network-settings">
                <span class="oi oi-wifi" aria-hidden="true"></span> Network Settings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="network-test">
                <span class="oi oi-wrench" aria-hidden="true"></span> Network Test
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="environmental-monitor">
                <span class="oi oi-graph" aria-hidden="true"></span> Environmental Monitor
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rooms">
                <span class="oi oi-layers" aria-hidden="true"></span> Rooms
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="device-groups">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span> Device Groups
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="device-management">
                <span class="oi oi-bolt" aria-hidden="true"></span> Device Management
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="device-commissioning">
                <span class="oi oi-plus" aria-hidden="true"></span> Add Device
            </NavLink>
        </div>
        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/users">
                        <span class="oi oi-people" aria-hidden="true"></span> User Management
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <form method="post" action="/Shared/Logout" style="display:inline">
                        <button type="submit" class="nav-link btn btn-link p-0" style="color:inherit; text-decoration:underline;">Logout</button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Shared/Login">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
